{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <title>Homepage</title>
    <link rel="icon" href="{% static 'website/favicon1.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'website/favicon1.png' %}" type="img/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">

    <link href="{% static 'auth/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/animate.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'website/js/jquery.1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jquery-scrolltofixed.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jquery.isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/wow.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/magnific-popup.js' %}"></script>
    <script src="{% static 'website/contactform/contactform.js' %}"></script>


</head>
<link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
<body>
{% block header %}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block chat-space %}
{% endblock %}
{% block telegram-space %}
{% endblock %}
{% block services-space %}
{% endblock %}
{% block news-space %}
{% endblock %}


{% include 'website/header.html' %}
{% include 'website/navigaton.html' %}
{% if username != '' %}
    {% include 'website/chat-space.html' %}
{% endif %}
{% include 'website/telegram-space.html' %}
{% include 'website/services-space.html' %}
<footer class="footer">
    <div class="container">
    </div>
</footer>
{% include 'website/news-space.html' %}


<footer class="footer">
    <div class="container">
    </div>
</footer>

<section class="main-section paddind" id="Portfolio">
    <div class="container">
        <h2>Team</h2>
        <h6>The team that worked on this project.</h6>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class=" Portfolio-box printdesign">

            <h2>Sunkarbekov<br>Yeldar</h2>
            <hr class="half-rule"/>
            <h3>Role</h3>
            <p>Front-end</p>
            <p>Website</p>
            <hr class="half-rule"/>
            <h3>Contacts</h3>
            <p>sunkarbekov.1999@gmail.com</p>

        </div>

        <div class=" Portfolio-box branding">

            <h2>Yevgeniy<br>Alexandrovich</h2>
            <hr class="half-rule"/>
            <h3>Role</h3>
            <p>Chat Bot</p>
            <p>Full-stack</p>
            <hr class="half-rule"/>
            <h3>Contacts</h3>
            <p>zhekacher20.05@gmail.com</p>
        </div>

        <div class="Portfolio-box webdesign">

            <h2>Aubakir<br>Baknur</h2>
            <hr class="half-rule"/>
            <h3>Role</h3>
            <p>Scanner Bot</p>
            <p>Full-stack</p>
            <hr class="half-rule"/>
            <h3>Contacts</h3>
            <p>aubakir.bak@gmail.com</p>
        </div>


    </div>
</section>


<section class="business-talking">
    <div class="container">
        <h2>contact us</h2>
    </div>
</section>

<div class="container">
    <section class="main-section contact" id="contact">
        <div class="row">
            <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box address clearfix">
                    <h3><i class=" icon-map-marker"></i>Address:</h3>
                    <span>Mynbaeva 99-1 <br>Almaty, Kazakhstan</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa fa-phone"></i>Phone:</h3>
                    <span>8(707)193-70-34</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3><i class="fa fa-pencil"></i>email:</h3>
                    <span>sunkarbekov.1999@gmail.com<br>aubakir322@gmail.com<br>zhenya228@gmail.com</span>
                </div>
                <div class="contact-info-box hours clearfix">
                    <h3><i class="fa fa-clock-o"></i>Hours:</h3>
                    <span><strong>Monday - Thursday:</strong> 9:00-18:00<br><strong>Saturday - Sunday:</strong> Day of rest.</span>
                </div>
                <ul class="social-link">
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="form">

                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control input-text" id="name"
                                   placeholder="Your Name" data-rule="minlen:4"
                                   data-msg="Please enter at least 4 chars"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email"
                                   placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" name="subject" id="subject"
                                   placeholder="Subject" data-rule="minlen:4"
                                   data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5"
                                      data-rule="required" data-msg="Please write something for us"
                                      placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="input-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="container">
         Copyright ©2019 All rights reserved by "Gimmick Inc."
    </div>
</footer>


<script type="text/javascript">
    $(document).ready(function (e) {

        $('#test').scrollToFixed();
        $('.res-nav_click').click(function () {
            $('.main-nav').slideToggle();
            return false

        });

        $('.Portfolio-box').magnificPopup({
            delegate: 'a',
            type: 'image'
        });

    });
</script>

<script>
    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>


<script type="text/javascript">
    $(window).load(function () {

        $('.main-nav li a, .servicelink').bind('click', function (event) {
            var $anchor = $(this);

            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top - 102
            }, 1500, 'easeInOutExpo');
            {#/*#}
            {#if you don't want to use the easing effects:#}
            {#$('html, body').stop().animate({#}
            {#    scrollTop: $($anchor.attr('href')).offset().top}, 1000);#}
            {#*/#}
            if ($(window).width() < 768) {
                $('.main-nav').hide();
            }
            event.preventDefault();
        });
    })
</script>

<script type="text/javascript">
    $(window).load(function () {


        var $container = $('.portfolioContainer'),
            $body = $('body'),
            colW = 375,
            columns = null;


        $container.isotope({
            // disable window resizing
            resizable: true,
            masonry: {
                columnWidth: colW
            }
        });

        $(window).smartresize(function () {
            // check if columns has changed
            var currentColumns = Math.floor(($body.width() - 30) / colW);
            if (currentColumns !== columns) {
                // set new column count
                columns = currentColumns;
                // apply width to container manually, then trigger relayout
                $container.width(columns * colW)
                    .isotope('reLayout');
            }

        }).smartresize(); // trigger resize to set container width
        $('.portfolioFilter a').click(function () {
            $('.portfolioFilter .current').removeClass('current');
            $(this).addClass('current');

            var selector = $(this).attr('data-filter');
            $container.isotope({

                filter: selector,
            });
            return false;
        });

    });
</script>


</body>
{#<script>window.location.reload(true)</script>#}
</html>
