{% load staticfiles %}
{% block services-space %}

    <footer style="margin-bottom: 50px" id="service">
    </footer>
    <div class="container">
        <h2>Services</h2>
        <h6>We offer exceptional service with freebies and some buns.</h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Correspondence</h3>
                        <p>Chat with your friends in telegram.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Scanner bot</h3>
                        <p>Use scanner bot via telegram in order to pentest network without additional equipment.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>News</h3>
                        <p>Read the latest news from the world of IT security.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Mini games</h3>
                        <p>Compete with your friends in mini games that may be updated someday.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="{% static 'website/img/macbook-pro.png' %}" alt="">
            </figure>

        </div>
    </div>
{% endblock %}