{% load staticfiles %}
{% block services-space %}

    <footer style="margin-bottom: 50px" id="service">
    </footer>
    <div class="container">
        <h2>Services</h2>
        <h6>We offer exceptional service with freebies and some buns.</h6>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Correspondence</h3>
                        <p>Chat with your friends.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Checks</h3>
                        <p>Use the paid service for your PC scanner.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>Web-security</h3>
                        <p>Anythink else.</p>
                    </div>
                </div>
                <div class="service-list">

                    <div class="service-list-col2">
                        <h3>ANYTHINK</h3>
                        <p>ELSE.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="{% static 'website/img/macbook-pro.png' %}" alt="">
            </figure>

        </div>
    </div>
{% endblock %}